<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        h2 {
            color:rgb(191, 255, 161) ;
            text-align: center;
            -webkit-text-stroke: 1px rgb(191, 255, 161) ;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <ul>
            <% for(var i = 0; i < searchfound.length; i++) {%>
               


               <%if (searchfound[i]=='Fight Club') {%>
                
                <h2><a href="fightclub">Fight Club</a></h2>
                <br>
                        
                        
                            <% } %>

                <%if (searchfound[i]=='The Dark Knight') {%>
                
                <h2><a href="darkknight">The Dark Knight </a></h2>
                 <br>
                                        
                                        
                     <% } %>

                <%if (searchfound[i]=='Scream') {%>
                
                <h2><a href="scream">Scream</a></h2>
                 <br>
                                               
                                               
                     <% } %>

                 <%if (searchfound[i]=='Conjuring') {%>
                
                <h2><a href="conjuring">The conjuring</a></h2>
                <br>
                                                      
                                                      
                        <% } %>

                <%if (searchfound[i]=='God Father I') {%>
                
                <h2><a href="godfather">God Father I</a></h2>
                 <br>
                                                                  
                                                                  
                         <% } %>

                 <%if (searchfound[i]=='God Father II') {%>
                
                <h2><a href="godfather2">God Father II</a></h2>
                <br>
                                                                  
                                                                  
                         <% } %>


               <%};%>



               <%if (searchflag==true) {%>
                
                <div class="alert alert-danger" role="alert">
                    Movie Not Found!
                        
                                   
                        </div>
                        
                        
                            <% } %>
            </ul>  

</body>
</html>